<!-- Renders post date, title, and snippet of text. -->
<!-- Wenn ein Bild existiert: Bild an der linken Seite einfügen -->

<div class="py-2 mb-2 prose">
  <a class="no-underline h5 bold text-accent" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>
  <h2 class="h1 lh-condensed col-9 mt-0">
    <a class="link-primary" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
  {% if post.image %}
	<div class="col-2 sm-width-full left">
	  <img src="{{ post.image }}">
	</div>
  {% endif %}
<div class="clearfix"
  <p>{{ post.content | strip_html | truncatewords:30 }}</p>
</div>
